<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="main.RegistrationSc"/>
      <class name="e2e.AddToCart"/>
      <class name="e2e.SearchForItems"/>
      <class name="api.Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
